<section class="about">
    <h1>À propos de nous</h1>

     <h2> Passion </h2>
  <p >
    Fondée par une équipe de passionnés, <strong>“Au Petit Village”</strong> est
    née de l’envie de recréer la magie des aventures d’Astérix et Obélix, ces
    personnages emblématiques qui ont marqué notre enfance. Avec un amour
    profond pour l'univers de la bande dessinée, nous avons voulu offrir à nos
    clients un moyen unique de renouer avec ces héros indomptables.
  </p>
     
     <h2> Savoir faire </h2>
  <p >
    Notre entreprise se spécialise dans la confection artisanale de figurines
    inspirées de cet univers gaulois. Chaque figurine est soigneusement sculptée
    et peinte à la main, afin de capturer l'essence et la vivacité des
    personnages qui ont bercé l'imaginaire de tant de lecteurs à travers les
    décennies. En rendant hommage à ce patrimoine culturel, nous voulons offrir
    à une génération de fans nostalgiques — principalement entre 30 et 55 ans —
    une véritable plongée dans l’âge d’or de la bande dessinée.
  </p>

     <h2>Intemporel </h2>
  <p >
    Chez <strong>“Au Petit Village”</strong>, nous croyons que la nostalgie est
    un pont entre le passé et le présent, et nous avons pour mission de vous
    reconnecter à ces moments magiques d’aventures, de rires et de camaraderie.
    Nos figurines ne sont pas seulement des objets de collection, mais des
    pièces chargées d’émotion et de souvenirs.
  </p>
    <h2> Pour vous </h2>
  <p>
    Que vous soyez un collectionneur passionné ou simplement à la recherche
    d’une touche d’enfance à ajouter à votre décor, notre gamme de figurines
    vous transportera dans un village pas si ordinaire, où l’amitié et l’esprit
    de résistance règnent toujours en maître.
  </p>
</section>
