<footer>
  <h3>Retrouvez nous sur nos réseaux sociaux !</h3>
  <nav>
    <a href="#" target="_blank"
      ><img
        src="Instagram_icon.png"
        alt="Logo d'instagram qui represente une camera sur fond de couleur vive"
    /></a>
    <a href="#" target="_blank"
      ><img
        src="linkedin.png"
        alt="Logo de Linkedin qui represente une lettre I et une lettre N sur fond bleu "
    /></a>
    <a href="#" target="_blank"
      ><img
        src="twitter.png"
        alt="Logo de twitter qui represente un oiseau bleu sur fond blanc"
    /></a>
  </nav>
  <small>Copyright Asterix et Obelix </small>
</footer>
